NET "clk" PERIOD = 20.0ns HIGH 50%;
NET "clk" LOC = "C9" | IOSTANDARD = LVTTL;

NET "led<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "led<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;

NET "rotary_a"     LOC = "K18" | IOSTANDARD = LVTTL | PULLUP;
NET "rotary_b"     LOC = "G18" | IOSTANDARD = LVTTL | PULLUP;
NET "rotary_press" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;

# 
NET "LCD_E" LOC = M18;
NET "LCD_RS" LOC = L18;
NET "LCD_RW" LOC = L17;
NET "SF_CE0" LOC = D16;
NET "SF_D[0]" LOC = R15;
NET "SF_D[1]" LOC = R16;
NET "SF_D[2]" LOC = P17;
NET "SF_D[3]" LOC = M15;
NET "rst" LOC = H13;

NET "LCD_E" IOSTANDARD = LVCMOS33;
NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_RW" IOSTANDARD = LVCMOS33;
NET "SF_CE0" IOSTANDARD = LVCMOS33;
NET "SF_D[0]" IOSTANDARD = LVCMOS33;
NET "SF_D[1]" IOSTANDARD = LVCMOS33;
NET "SF_D[2]" IOSTANDARD = LVCMOS33;
NET "SF_D[3]" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVTTL;
NET "LCD_E" DRIVE = 4;
NET "LCD_RS" DRIVE = 4;
NET "LCD_RW" DRIVE = 4;
NET "SF_CE0" DRIVE = 4;
NET "SF_D[0]" DRIVE = 4;
NET "SF_D[1]" DRIVE = 4;
NET "SF_D[2]" DRIVE = 4;
NET "SF_D[3]" DRIVE = 4;
NET "rst" PULLDOWN;
